<div class="header">
    <h1>Sport Categories</h1>
</div>

<ul class="thumbnails data-list-lightweight" id="list">

    <li class="span3">
    	<div class="thumbnail"> 
<img src="assets/images/item-football.jpg">
<div class="caption">  
              <h5>Football</h5>  
            </div>      	
    	</div>  
    	</li>
    

    <li class="span3">
    	<div class="thumbnail"> 
<img src="assets/images/item-basketball.jpg">
<div class="caption">  
              <h5>Basketball</h5>  
            </div>      	
    	</div>  </li>

</ul>
