<div class="gpu" style="background: white;">
    <div class="header">
        <h1>Location Details</h1>
    </div>

    <div class="padded">
        <h1 class="green shadow"><%= name %></h1>

       
        <% if (typeof(eventDate) != "undefined") { %>
            <div><span class="label">Web</span>&nbsp;<a id="website" href="<%= website %>" target="_blank"><%= eventTime %></a></div>
        <% } %>

    </div>
</div>

<div class="gpu" style="background: white;">
    <div id='mapContainer' class="detailMapContainer" style='width:<%= mapSize %>px; height:<%= mapSize/2 %>px'>
        <div id="map<%= factual_id %>" style="width:100%;height:100%;"></div>
    </div>

    <div class="toolbar">
        <button id="directions" class="btn btn-info">Get Directions</button>  &nbsp;&nbsp;
        <button id="web" class="btn btn-info">Search The Web</button>
    </div>
</div>
