<p style="padding-top:10px; padding-left: 10px; padding-right: 10px;">
            <div id="mapView" class="well" style="width: 100%;font-size: 2.25em;">&nbsp;&nbsp;&nbsp;<%= hometeamId.name %> - <%= awayteamId.name %></div>
    </p>
<div class="container">
  <ul class="nav nav-pills">
    <li class="active" id="mapTab"><a href="#" data-toggle="tab">Map</a></li>
    <li id="tweetTab"><a href="#" data-toggle="tab">Tweets</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane mapv fade" id="map">TABVIEW</div>
    <div class="tab-pane tweetv fade" id="tweet">TWEETVIEW</div>
  </div>
</div>
