<% if (true) { %>
    <div id="bar" style="width:<%= 5 %>%; border-top: 1px solid <%=  __svgColor  %>;"></div>
<% } %>

<div id="walker" style="position:absolute; top:50%; right:20px; text-align: center">
    <div id="wwrapper" style="margin-top:-34px;">
        <img src="assets/images/walk/<%=  __svgColor  %>.png" />
            <div id="time" style="color:#<%=  __svgColor  %>"><%= 10 %></div>
    </div>
</div>

<div id="overlay">
<img src="assets/images/teams/<%=hometeamId.tffTeamId%>_120x120.jpg" style="width:40px;height:40px"/>
    <strong id="eventName" class="muted"><%= hometeamId.name %> - <%= awayteamId.name %></strong>
<img src="assets/images/teams/<%=awayteamId.tffTeamId%>_120x120.jpg"  style="width:40px;height:40px"/>
<br/>
    <span id="placename"><%= placeId.name %> <br/>
    <span id="dateTime"><%= eventDate %> <br/>
    <br/>

</div>
