<% if (true) { %>
    <div id="bar" style="width:<%= 5 %>%; border-top: 1px solid <%=  __svgColor  %>;"></div>
<% } %>

<div id="walker" style="position:absolute; top:50%; right:20px; text-align: center">
    <div id="wwrapper" style="margin-top:-34px;">
        <img src="assets/images/walk/<%=  __svgColor  %>.png" />
            <div id="time" style="color:#<%=  __svgColor  %>"><%= 10 %></div>
    </div>
</div>

<div id="overlay">

    <strong id="name"><%= hometeamId.name %> - <%= awayteamId.name %></strong><br/>
     <span id="distance">
    <% if (true) { %>(<%= 10 %> miles)</span><% } %>
    <br/>

</div>
